.dropbtn01 {
  border: none;
  background-color: transparent;
}

.dropdown01 {
  background-color: none;
  position: relative;
  display: inline-block;
  background-color: transparent;
}

.dropdown-content {
  display: none;
  max-width: 100%;
  position: absolute;
  top: 63px;
  left: -140px;
  border-radius: 10px;

  background-color: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown01:hover .dropdown-content {
  display: block;
  background-color: transparent;
}
.drop__button {
  width: 200px;
  padding: 10px 0 5px 0;
  font-size: 20px;

  text-align: center;
  border: 0;
  border-bottom: 2px solid #000;
  background-color: rgba(255, 255, 255, 0.28);
}
.drop__button:hover {
  background-color: #968383;
}

element.style {
}

@media screen and (max-width: 995px) {
  .dropdown-content {
    top: 47px;
    left: -140px;
    border-radius: 10px;
  }

  .drop__button {
    width: 200px;
    padding: 10px 0 5px 0;
    font-size: 20px;
    border-bottom: 2px solid #000;
  }
}
@media screen and (max-width: 750px) {
  .dropdown-content {
    top: 40px;
    left: -120px;
    border-radius: 10px;
  }

  .drop__button {
    width: 160px;
    padding: 10px 0 5px 0;
    font-size: 14px;
    border-bottom: 2px solid #000;
  }
}
@media screen and (max-width: 600px) {
  .dropdown-content {
    top: 30px;
    left: -160px;
    border-radius: 10px;
  }

  .drop__button {
    width: 150px;
    padding: 7px 0 4px 0;
    font-size: 12px;
    border-bottom: 2px solid #000;
  }
}
