.dropbtn01 {
  border: none;
  background-color: transparent;
}

.dropdown01 {
  background-color: none;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -20px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown01:hover .dropdown-content {
  display: block;
}
.drop__button {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: 0;
}
.drop__button:hover {
  background-color: #968383;
}
