.container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 10px;
}
.basket__inner {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25),
    inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 46px;
  min-height: calc(100vh - 124px);
  margin: 22px 0;
  padding: 40px 30px 40px 30px;
}
.basket__top {
  display: flex;
  justify-content: space-between;
}
.basket__title {
  font-family: Gotham Pro;
  font-size: 65px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
}
.basket__exit img {
  width: 50px;
  height: 50px;
}
.basket__block {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}
.basket__block-left {
  flex: 0 1 75%;
}
.basket__top-line {
  display: flex;
  background: rgba(243, 243, 243, 0.4);
  border-radius: 10px;
  padding: 15px 33px;
  font-size: 21px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}
.basket__count {
  padding: 10px 0;
}
.basket__count-first {
  padding-right: 33px;
  border-right: 2px solid #000;
  margin-right: 33px;
  position: relative;
}
.basket__count-first::after {
}
.basket__body {
}
.basket__item {
  font-family: Gotham Pro;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 20px;
  background: rgba(243, 243, 243, 0.4);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
}
.basket__cross {
  border: none;
  background: none;
}
.basket__cross-img {
  width: 20px;
  height: 20px;
}
.basket__img {
  padding-left: 18px;
  width: 60px;
  height: 80px;
}
.basket__name {
  padding-left: 18px;
  text-align: center;
  max-width: 210px;
  color: #321a06;
}
.basket__time {
  color: #321a06;
  padding-left: 18px;
  display: flex;
  align-items: center;
}
.basket__time-title {
  text-align: center;
  max-width: 200px;
  padding-left: 18px;
}
.basket__time-number {
  padding-left: 10px;
}
.basket__amount {
  padding-left: 18px;
  color: #321a06;
  display: flex;
  align-items: center;
}
.amaut-button {
  background: rgba(243, 243, 243, 0.4);
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 35%;
  font-size: 35px;
  display: flex;
  align-items: center;
  border: none;
}
.basket__amount-reduce {
  padding-bottom: 5px;
}
.basket__amount-sum {
  padding: 0 8px;
  font-family: Gotham Pro;
  font-size: 35px;
  font-weight: 700;
  line-height: 39px;
}
.basket__price {
  padding-left: 18px;
  font-family: Gotham Pro;
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  text-align: center;
  color: #321a06;
  display: flex;
  align-items: center;
}
.basket__price-valuta {
  font-size: 23px;
  padding-left: 3px;
}
.basket__right-block {
  background: rgba(217, 217, 217, 0.4);
  border-radius: 20px;
  padding: 20px 10px;
  flex: 0 1 20%;
  font-family: Gotham Pro;
  font-size: 19px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.basket__line {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
.basket__text-delivary {
  max-width: 200px;
}
.line-mide {
  border-bottom: 3px solid #00000066;
  border-top: 3px solid #00000066;
}
.basket__sum {
  padding: 5px 20px 5px 5px;
}

.basket__sum {
  text-align: end;
}
.basket__value {
  padding-left: 4px;
  font-size: 21px;
}
.basket__final-price {
  font-size: 34px;
}
.basket__dop-info {
  padding-top: 3px;
  font-family: Gotham Pro;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  text-align: left;
  max-width: 105px;
}
.basket__design {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  margin: 0 auto;
  background: #ffe3aa;
  color: #321a06;
  border-radius: 20px;
  padding: 10px 30px;
  border: none;
}
.basket__no-product {
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
}

@media only screen and (max-width: 1300px) {
  .basket__item {
    font-family: Gotham Pro;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 20px;
    background: rgba(243, 243, 243, 0.4);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
  }
  .basket__time-title {
    text-align: center;
    max-width: 150px;
    padding-left: 18px;
  }
  .basket__img {
    padding-left: 8px;
  }
  .basket__name {
    padding-left: 8px;
    text-align: center;
    max-width: 170px;
    color: #321a06;
  }
  .basket__time {
    color: #321a06;
    padding-left: 8px;
    display: flex;
    align-items: center;
  }
  .basket__time-number {
    padding-left: 5px;
  }
  .basket__amount {
    padding-left: 8px;
  }
  .basket__price {
    padding-left: 8px;
    font-family: Gotham Pro;
    font-size: 25px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
    color: #321a06;
    display: flex;
    align-items: center;
  }
  .basket__design {
    text-align: center;
  }
}
@media only screen and (max-width: 900px) {
  .basket__block {
    flex-direction: column;
  }
  .basket__right-block {
    margin-top: 20px;
  }
  .basket__time-title {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .basket__name {
    padding-left: 4px;
    text-align: center;
    max-width: 110px;
    color: #321a06;
    font-size: 16px;
    line-height: 15px;
  }
  .basket__time-number {
    padding-left: 4px;
  }
  .basket__img {
    padding-left: 4px;
    width: 45px;
    height: 60px;
  }
  .basket__cross {
    padding: 0px;
  }
  .basket__amount-sum {
    padding: 0 3px;
    font-family: Gotham Pro;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
  }
  .amaut-button {
    font-size: 25px;
    display: flex;
    align-items: center;
    border: none;
  }
  .basket__price {
    padding-left: 4px;
  }
  .basket__top-line {
    padding: 10px 14px;
    font-size: 18px;
    line-height: 20px;
  }
  .basket__count-first {
    padding-right: 10px;
    border-right: 2px solid #000;
    margin-right: 10px;
    position: relative;
  }
}

@media only screen and (max-width: 550px) {
  .basket__img {
    padding-left: 2px;
    width: 40px;
    height: 40px;
  }
  .basket__time-number {
    padding-left: 4px;
    text-align: center;
  }
  .basket__inner {
    border-radius: 35px;
    min-height: calc(100vh - 124px);
    margin: 22px 0;
    padding: 20px 5px 20px 5px;
  }
}
@media only screen and (max-width: 500px) {
  .basket__time-number {
    display: none;
  }
  .basket .container {
    padding: 0 10px;
  }
  .basket__right-block {
    background: rgba(217, 217, 217, 0.4);
    border-radius: 20px;
    padding: 5px 10px;
    flex: 0 1 20%;
    font-family: Gotham Pro;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
  }
  .basket__line {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
  }
}
